<div layout="column" *mobxAutorun>
  <label>
    <input type="checkbox" class="md-checkbox red flex"
      [(ngModel)]="frameworks.isAllChecked"
      [disabled]="!frameworks.filteredItems.length"
      [indeterminate]="!frameworks.filteredItems.length"/>
    {{ frameworks.isAllChecked === true ? 'Uncheck All' : 'Check All' }}
  </label>

  <label *ngFor="let item of frameworks.filteredItems">
    <input type="checkbox"
      class="red master-checkbox flex"
      [(ngModel)]="item.checked"/>
    {{ item.name }}
  </label>
</div>
